.body {
    background: radial-gradient(circle at center, #306397d0, #000);
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.divBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow-y: auto;
}

.title, .subtitle {
    color: #FFD700;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    margin: 0;
    padding: 0;
}

.title {
    font-size: 100px;
}

.subtitle {
    font-size: 40px;
    position: absolute;
    top: -50px;
}

.icon {
    width: 40px;
    filter: hue-rotate(90deg);
}

.link {
    transition: color 0.3s;
    color: white;
}

.link:hover{
    transform: scale(1.1);
    color: #FF4500;
}

.main-section, .jobTitulo, .apresentacao {
    display: flex;
    align-items:center;
    flex-direction: column;
}

.main-section {
    gap: 20px;
    position: relative;
}

.linkIcones {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
